.b-section {
  min-height: 100vh;
  position: relative;
  background: $snow;

  &.fullscreen {
    height: 100vh;

    @media all and (max-width: 767px) {
      height: auto;
    }
  }

  @media all and (max-height: 550px) {
    min-height: 550px;
  }

  &.short {
    min-height: 550px;

    .b-content-wrapper {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  &.smoke {
    background: $smoke;
  }

  &.footer {
    min-height: 280px;
    display: flex;
    align-items: center;

    @media all and (max-width: 767px) {
      height: 140px;
    }
  }

  .b-section-title {
    color: $olive;
    position: absolute;
    top: 120px;
    left: 15px;

    &:after {
      display: inline-block;
      width: 30px;
      height: 2px;
      content: '';
      background: $smelly-olive;
    }

    @media all and (max-width: 767px) {
      position: relative;
      width: 100%;
      margin-bottom: 30px;
      top: auto;
      left: auto;
    }

    &>div {
      line-height: 1.15;
      font-size: 26px;
    }
  }

  .b-content-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;

    @media all and (max-width: 767px) {
      padding-top: 100px!important;
      height: auto;
    }

    .b-content {
      width: 580px;

      @media all and (max-width: 600px) {
        width: 100%;
      }
    }

    .b-description {
      font-size: 26px;
      line-height: 1.27;
      color: $cobalt;
    }

    &.fp {
      align-items: flex-start;
      min-height: 100vh;
      padding-top: 0;

      .fp-logo {
        padding: 24px 0 40px;

        @media all and (max-width: 380px) {
          width: 100%;
        }
      }

      .fp-title {
        font-size: 26px;
      }

      .fp-content {
        padding: 0 0 200px;

        @media all and (max-height: 500px) {
          padding: 100px 0;
        }

        @media all and (max-width: 767px) {
          //padding: 100px 0;
        }
      }

      .fp-arrow {
        position: absolute;
        left: 15px;
        bottom: 100px;
        cursor: pointer;

        @media all and (max-width: 767px) {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.b-nav {
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 35px;
  width: 100%;

  .container {
    text-align: right;
  }
}


.b-list-wrapper {
  width: 540px;
  margin: 30px auto 0;

  @media all and (max-width: 600px) {
    width: 100%;
  }

  .b-list {
    list-style-type: none;
    padding: 0;

    .b-list-item {
      margin: 0 0 24px;

      .title {
        font-size: 20px;
        color: $cobalt;
        font-weight: 500;
        margin-bottom: 11px;
      }

      .collapsed-content {
        color: $smelly-olive;
        line-height: 1.5;
        font-size: 18px;
        margin-bottom: 15px;

        .collapsing + .collapse-btn {
          .uncollapsed {
            display: none;
          }

          .collapsed {
            display: inline;
          }
        }

        .collapse {

          & + .collapse-btn {
            .uncollapsed {
              display: inline;
            }

            .collapsed {
              display: none;
            }
          }

          &.in + .collapse-btn {
            .uncollapsed {
              display: none;
            }

            .collapsed {
              display: inline;
            }
          }
        }
      }
    }
  }
}

.link {
  color: $olive;
  text-decoration: none;

  &:hover, &:active, &:focus {
    text-decoration: underline;
  }
}

.p-b-100 {
  padding-bottom: 100px;
}

.p-t-250 {
  padding-top: 250px!important;
}
.p-b-250 {
  padding-bottom: 250px;
}

.b-gallery {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline;

  .b-gallery-item {
    width: 25%;
    text-align: center;
    margin-bottom: 50px;

    @media all and (max-width: 767px) {
      width: 50%;
    }

    img {
      display: inline-block;
      max-width: 50%;
      max-height: 50px;
    }
  }
}

.b-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .b-input-wrapper {
    width: 40%;
    margin-top: 40px;

    @media all and (max-width: 767px) {
      width: 100%;
    }
  }

  .b-form-btn-wrapper {
    margin-top: 50px;
    flex: 1 100%;

    .btn {
      padding-left: 0;
      padding-right: 0;
      font-size: 18px;
    }
  }
}

.footer {
  .b-content-wrapper {
    padding: 0;

    .b-content {
      flex-direction: row;
      align-items: center;
      display: flex;
      width: 100%;
      padding-left: 15px;
      padding-right: 100px;

      @media all and (max-width: 767px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .footer-content-item {
      flex: 1;

      & > div {
        display: inline-block;
      }

      &.text {
        font-size: 26px;
        color: $cobalt;
        opacity: 0.3;
        line-height: 1.27;
      }
    }
  }
}

.animated-js {
  @media all and (min-width: 767px) {
    animation-play-state: paused;
  }
}

.start-animation {
  animation-play-state: running;
}

@media all and (min-width: 768px) {
  .container {
    width: 780px;
  }
}

.b-notification {
  position: fixed;
  width: 350px;
  left: 50%;
  margin-left: -175px;
  z-index: 1;
  top: 50px;
  background: rgba($snow, 0.85);
  color: $cobalt;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba($onyxia, 0.3);
  pointer-events: none;

  @media all and (max-width: 380px) {
    width: 90%;
    left: 5%;
    margin: 0;
  }
}
