.b-btn {
  text-transform: uppercase;
  background: none;
  border-radius: 5px;
  color: $olive;
  font-size: 12px;
  padding: 13px 11px 11px 11px;
  font-weight: bold;

  &.b-btn-line {
    border: 2px solid $olive;
  }

  &.btn-xs {
    padding: 0;
  }

  &:active, &:focus {
    outline: none;
    box-shadow: none;
  }
}

.b-input {
  background: none;
  color: $cobalt;
  padding: 9px 19px;
  font-size: 26px;
  border: none;
  height: auto;
  border-radius: 0;
  border-bottom: 2px solid $light-cobalt;
  box-shadow: none;

  &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
    color: $cobalt;
    opacity: 0.3;
  }
}
