//colors
$snow: #ffffff;
$cobalt: #403c39;
$light-cobalt: #979797;
$onyxia: #000000;
$smoke: #f2f2f2;
$olive: #b1b870;
$smelly-olive: #827c75;


.snow {
  color: $snow;
}

.cobalt {
  color: $cobalt;
}

.onyxia {
  color: $onyxia;
}

.smoke {
  color: $smoke;
}

.olive {
  color: $olive;
}

.smelly-olive {
  color: $smelly-olive;
}
