@font-face {
  font-family: NeutraText;
  font-weight: 300;
  src: url('../fonts/NeutraText-Light.otf');
}

@font-face {
  font-family: NeutraText;
  font-weight: 500;
  src: url('../fonts/NeutraText-Demi.otf');
}

@font-face {
  font-family: NeutraText;
  font-weight: 400;
  src: url('../fonts/NeutraText-Book.otf');
}
@font-face {
  font-family: NeutraText;
  font-weight: 700;
  src: url('../fonts/NeutraText-Bold.otf');
}

@import "variables";

.b-app {
  font-family: NeutraText;
  font-size: 14px;
  max-width: 100vw;
  overflow-x: hidden;
  @import "ui";
  @import "base";
}
