ruby:
  processes = [
    {
      title: "Strategy & Discovery",
      main_part: "The most important part of any new product or product rebuild, strategy & discovery sets the foundation to determine what problems need solving, who the market is, who the competitors are, and what the game plan is.",
      collapsedList: [
        "Stakeholder interviews",
        "Market research & analysis",
        "Customer journey mapping",
        "Feature prioritization",
        "Product Roadmap"
      ]
    },
    {
      title: "Architecture, Wireframing, and rapid prototyping",
      main_part: "After distilling all of the information collected during the strategy phase we take aim at developing a product structure that allows for early market testing and iteration.",
      collapsedList: [
        "Information Architecture",
        "Database Architecture",
        "Sketching",
        "Wireframing",
        "Prototyping",
        "Early user testing"
      ]
    },
    {
      title: "Product Design & Development",
      main_part: "Focused on sustainable design and technology principles, our team brings to life the path developed during initial collaboration. Both design and development work in sync to efficiently launch the end product.",
      collapsedList: [
        "Wireframe to design transformation",
        "Color & typography planning",
        "Content Strategy",
        "Front-end markup",
        "API integration"
      ]
    },
    {
      title: "QA & Testing",
      main_part: "The most missed but most important phase allows us to put the final touches on a sustainable product. Our entire team from product to design and development takes part in ensuring quality.",
      collapsedList: [
        "Debugging and regression testing",
        "Internal design refinements",
        "User testing",
        "Knowledge transfer",
        "Launch strategy"
        ]
    }
  ]


.b-list-wrapper
  ul.b-list
    - processes.each_with_index do |process, idx|
      li.b-list-item.animated-js.animated class="#{idx % 2 === 0 ? 'fadeInRight' : 'fadeInLeft'}"
        .title #{process[:title]}
        .collapsed-content
          .main-part #{process[:main_part]}
          .collapsed-content
            .collapse id="collapsed-part-#{idx}"
              ul
                - process[:collapsedList].each do |item|
                  li #{item}
            .btn.b-btn.btn-xs.collapse-btn data-toggle="collapse" data-target="#collapsed-part-#{idx}"
              span.uncollapsed + more
              span.collapsed - less
