doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link rel="shortcut icon" href="./assets/images/tree.svg" type="image/x-icon"
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title Branch'd
    link(rel='stylesheet' href='./assets/css/depStyles.css')
    link(rel='stylesheet' href='./assets/css/styles.css')
    /! Drip
    javascript:
      var _dcq = _dcq || [];
      var _dcs = _dcs || {};
      _dcs.account = '7388086';
      (function () {
        var dc = document.createElement('script');
        dc.type = 'text/javascript';
        dc.async = true;
        dc.src = '//tag.getdrip.com/7388086.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(dc, s);
      })();
  body.b-app
    .b-notification.animated.fadeInDown.hidden Thank you. We'll be in touch.
    section.b-section.smoke.fullscreen
      .container.b-content-wrapper.fp
        .b-content.fp-content
          .fp-title.smelly-olive.animated-js.animated.fadeInLeft Hello, we’re
          img.fp-logo.animated-js.animated.fadeInRight src="./assets/images/logo.svg"
          .fp-title.smelly-olive.animated-js.animated.fadeInLeft A boutique strategy & technology collective
        .fp-arrow.animated.fadeInUp
          a.scroll-to href="#first-section"
            img src="./assets/images/arrow-down.svg" draggable="false"
      .b-nav
        .container
          a.btn.b-btn.b-btn-line.scroll-to href="#contacts" Contact

    section.b-section.fullscreen#first-section
      .container.b-content-wrapper
        .b-section-title.animated-js.animated.fadeInLeft
          .chapter
            | 0
            strong 1
          .title About
        .b-content
          .b-description.animated-js.animated.fadeInUp We’re a small group of passionate product designers and developers with a decade of experience researching, strategizing, building and testing software products. It’s no longer ok just to ship a product to market and hope it goes viral and takes off. Digital products need blueprints and branch’d is here to help.

    section.b-section.smoke
      .container.b-content-wrapper.p-t-250.p-b-100
        .b-section-title.animated-js.animated.fadeInLeft
          .chapter
            | 0
            strong 2
          .title Offerings
        .b-content
          .b-description.animated-js.animated.fadeInUp Our goal is to help  clients solve problems in the most efficient and meaningful way possible. We are strong believers in creating strong product foundations that are flexible for growth and iterations. End result; beautiful, intuitive iOS, and Web products.
          include ./collapsed-list

    section.b-section
      .container.b-content-wrapper.p-t-250.p-b-100
        .b-section-title.animated-js.animated.fadeInLeft
          .chapter
            | 0
            strong 3
          .title Work
        .b-content
          .b-description.animated-js.animated.fadeInUp
            | We work with companies that understand the process of building a product starts with planning and research and ends with qa and ongoing user testing. Below are just a few of the companies we have worked with in the past. Please
            a.link.scroll-to<> href="#contacts" reach out to us
            | if you’d like to view our portfolio.
          .b-gallery
            - 16.times do |i|
              .b-gallery-item.animated-js.animated class="#{i % 2 === 0 ? 'fadeInRight' : 'fadeInLeft'}"
                img.img-responsive src="./assets/images/companies/bitmap_#{i+1}@3x.png"

    section.b-section.smoke.short#contacts
      .container.b-content-wrapper.p-t-250
        .b-section-title.animated-js.animated.fadeInLeft
          .chapter
            | 0
            strong 4
          .title Contact
        .b-content
          .b-description.animated-js.animated.fadeInUp Please reach out to us to set up a time to chat, receive a portfolio of work or just shoot the #@!#.

          form.b-form action="https://www.getdrip.com/forms/39904243/submissions" data-drip-embedded-form="39904243" method="post"
            .b-input-wrapper.animated-js.animated.fadeInLeft
              input.form-control.b-input type="text" placeholder="full name" required="" name="fields[full_name]"
            .b-input-wrapper.animated-js.animated.fadeInRight
              input.form-control.b-input type="text" placeholder="company" required="" name="fields[company]"
            .b-input-wrapper.animated-js.animated.fadeInLeft
              input.form-control.b-input type="email" placeholder="email" required="" name="fields[email]"
            .b-input-wrapper.animated-js.animated.fadeInRight
              input.form-control.b-input type="text" placeholder="phone number" required="" name="fields[phone]"
            .b-form-btn-wrapper.text-right
              button.btn.b-btn.btn-lg.animated-js.animated.fadeInUp data-drip-attribute="sign-up-button" name="submit" type="submit" send away

    section.b-section.short.footer
      .b-content-wrapper.container
        .b-content
          .footer-content-item
            img src="./assets/images/tree.svg"
          .footer-content-item.text-right.text
            .text-left
              div Branch’d LLC
              div Boston, MA

  script(src='./assets/js/scripts.js')
  script(src='./assets/js/app.js')
